/******** NAVBAR ********/
.navbar-brand > img {
    max-width: 200px;
}

.navbar-red .navbar-nav .nav-link {
    color: black;
}

.navbar-red .navbar-nav .nav-link:hover {
    color: #bf3a2b;
}

/*.nav-item.active {*/
/*    margin-left: 0.5rem;*/
/*    margin-right: 0.5rem;*/
/*}*/

.nav-item.active .nav-link {
    color: #bf3a2b;
    font-weight: bold;
    /*padding-left: 0;*/
    /*padding-right: 0;*/
    border-bottom: 2px solid #bf3a2b;
}

/******** JUMBOTRON ********/
.header-jumbotron {
    color: white;
    border-radius: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("/images/jumbotron.jpeg");
}

.btn-banner {
    color: white;
    border-radius: 0;
    font-weight: bold;
    border: 2px solid white;
    text-transform: uppercase;
    background-color: transparent;
}

.wall-of-athlete > div > img {
    width: 100%;
}

.text-rta {
    color: #bf3a2b;
}

.btn-banner-red {
    color: white;
    border-radius: 0;
    font-weight: bold;
    border: 2px solid #bf3a2b;
    text-transform: uppercase;
    background-color: #bf3a2b;
}

.we > div > img {
    width: 100%;
}

.container-fluid.footer {
    background-color: black;
}

.container-fluid.footer > div > div > div > img {
    width: 200px;
}

.navbar-toggler, .navbar-toggler:focus {
    border: 2px solid #bf3a2b;
    outline-color: #bf3a2b !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(191,58,43)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.bottom-line {
    border-bottom: 3px solid #bf3a2b;
}

.bottom-line-white {
    border-bottom: 3px solid #ffffff;
}

@media (max-width: 992px) {
    .online-coaching-insta {
        display: none;
    }
}
